#root{
  max-width: 1280px;
  margin: 0 auto;
  font-size: 19px;
  padding: 2rem;
}
body{
  font-family: "VT323", monospace;
  background: url("/public/img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: scroll;
  min-height: 100vh;
}

thead td{
  cursor: pointer;
}

// vista juego
#juego-container{
  min-width: 40rem;
}

section.vista-juego{
  max-width: 70rem;
  margin: 0 auto;
}
section.vista{
  margin-top: 5rem !important;
  max-width: 70rem;
  margin: 0 auto;
}